<a href="https://colab.research.google.com/github/Akhila-16/Akhila/blob/master/Ds_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***1.Write a python program to print the folowing string in a specific format.***
Sample string: "Twinkle ,twinkle,little star,How i wonder what you are! Up above the world so high,Like a diamond in the sky.Twinkle,little star,How i wonder what you are".

In [ ]:
print("Twinkle,twinkle,little star,\n\tHow i wonder what you are!\n\t\t Up above the worlds so high,\n\t\t Like a diamond in the sky.\nTwinkle,twinkle,little star,\n\tHow i wonder what you are")

Twinkle,twinkle,little star,
	How i wonder what you are!
		 Up above the worlds so high,
		 Like a diamond in the sky.
Twinkle,twinkle,little star,
	How i wonder what you are

## ***2.Write a python program to test whether a number is within 100 of 1000 or 2000.***

In [ ]:
def near_thousand(x):
  return ((abs(1000-x)<=100) or(abs(2000-x)<=100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(200))
print(near_thousand(2500))

True
True
False
False

# *3.Write a python program to calculate the sum of three given numbers,if the values are equal then return three of their sum.*

In [ ]:
def sum_thrice(x,y,z):
  sum = x + y +z
  if x == y == z:
    sum = sum * 3
  return sum
print(sum_thrice(6,3,9))
print(sum_thrice(5,6,2))

18
14

# 4.Write a python program to find whatever a given number(accept from the user) is even or odd ,print out an appropriate message to the user.

In [ ]:
num = int(input("Enter a number:"))
mod = num % 2
if mod > 0:
  print("The given number is odd number")
else:
  print("The given number is even number")

Enter a number:9
The given number is odd number

# 5.Write a python program to get a string made of the first 2 and the last 2 chars from a given string .If the string length is less than 2,return instead of the empty string.

In [ ]:
def string_both_ends(str):
  if len(str)<2:
    return ''
  return str[0:2] + str[-2:]
print(string_both_ends('python'))
print(string_both_ends('pyth'))
print(string_both_ends('py'))
print(string_both_ends('p'))

pyon
pyth
pypy

# 6.Write a python progranm to get a single string from two given strings,separated by a space and swap the first two characters of each strings.

In [57]:
def chars_mix_up(a,b):
 new_a = b[:2] + a[2:]
 new_b = a[:2] + b[2:]
   
 return new_a  + ' '  +   new_b
print(chars_mix_up('mam','sir'))

sim mar

# 7.Write a python program to find appearance of the substring 'not' and 'poor' from a given string,if 'not'follows the 'poor',replace the whole 'not'...'poor' substring with 'good'.

In [39]:
def not_poor (str1):
  snot = str1.find('not')
  spoor = str1.find('poor')
  if spoor > snot and  snot>0 and spoor>0:
    str1  = str1.replace(str1[snot:(spoor+4)],'good')
    return str1
  else:
    return str1
print(not_poor('The lyrics is not that poor!'))
print(not_poor('The lyrics is poor!'))

The lyrics is good!
The lyrics is poor!

# 8.Write a python program to reverse a string if its length is a multiple of 4.

In [58]:
def reverse_string(str1):
  if len(str1) % 4 == 0:
    return ''.join(reversed(str1))
  return str1
print(reverse_string('akhi'))
print(reverse_string('akhila'))
print(reverse_string('D.akhila'))

ihka
akhila
alihka.D

# 9.Write a python function to convert all units of time into seconds.

In [48]:
days = int(input("Input days: ")) * 3600*24
hours = int(input("Input hours: ")) * 3600
minutes = int(input("Input minutes: ")) * 60
seconds = int(input("Input seconds: ")) 
time = days + hours + minutes + seconds
print("The total seconds is:",time)

Input days: 15
Input hours: 24
Input minutes: 180
Input seconds: 90
The total seconds is: 1393290

# 10.wite a python program to sort three integers without using conditional statements and loops.

In [49]:
x = int(input("Input first number"))
y = int(input("Input second number"))
z = int(input("Input third number"))
a1 = min(x,y,z)
a3 = max(x,y,z)
a2 = (x+y+z) - a1 -a3
print("Numbers in sorted order:",a1,a2,a3)

Input first number5
Input second number9
Input third number3
Numbers in sorted order: 3 5 9

# 11.Write a python program to get the details of the math module.

In [50]:
import math
math_ls = dir(math)
print(math_ls)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

# 12.Write a python program to concatenate N strings.

In [54]:
list_of_fruits = ['orange','apple','cherries']
fruits= '-'.join(list_of_fruits)
print("All fruits:"+fruits)
print()

All fruits:orange-apple-cherries