<a href="https://colab.research.google.com/github/Akhila-16/Akhila/blob/master/Python_assignment_on_june_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program that prints the integers from 1 to 100.But for multiplies of three print "Fizz" instead of the number,and for the multiples of five print "Buzz".For numbers which are multiples of both three and five print "FizzBuzz".

In [1]:
for fizzbuzz in range(100):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
      print(" fizzbuzz")
      continue
    elif fizzbuzz % 3 == 0:
      print(" fizz")
      continue
    elif fizzbuzz % 5 == 0:
      print(" buzz")
      continue
    print(fizzbuzz)

 fizzbuzz
1
2
 fizz
4
 buzz
 fizz
7
8
 fizz
 buzz
11
 fizz
13
14
 fizzbuzz
16
17
 fizz
19
 buzz
 fizz
22
23
 fizz
 buzz
26
 fizz
28
29
 fizzbuzz
31
32
 fizz
34
 buzz
 fizz
37
38
 fizz
 buzz
41
 fizz
43
44
 fizzbuzz
46
47
 fizz
49
 buzz
 fizz
52
53
 fizz
 buzz
56
 fizz
58
59
 fizzbuzz
61
62
 fizz
64
 buzz
 fizz
67
68
 fizz
 buzz
71
 fizz
73
74
 fizzbuzz
76
77
 fizz
79
 buzz
 fizz
82
83
 fizz
 buzz
86
 fizz
88
89
 fizzbuzz
91
92
 fizz
94
 buzz
 fizz
97
98
 fizz

2.Write a python program to find unique element from a list.

In [7]:
my_list = [15 ,16 ,20, 30, 50, 15, 27, 16]
print(" Original list : ", my_list)
my_set = set(my_list)
my_new_list = list(my_set)
print(" List of unique numbers : ",my_new_list)

 Original list :  [15, 16, 20, 30, 50, 15, 27, 16]
 List of unique numbers :  [15, 16, 50, 20, 27, 30]

3.Write a function that checks whether a number is in a given range(inclusive of high and low)

In [10]:
def test_range(n):
  if n in range(9,50):
    print( " %s is in the range"%str(n))
  else :
    print(" The number is not in the range")
test_range(27)

 27 is in the range

4.Write a python program function that accepts a string and calculates the number of upper case letters and lower case letters.

In [13]:
string = input(" Enter a string: ")
count1 = 0
count2 = 0
for i in string:
      if(i.isupper()):
            count1 = count1 +1
      elif(i.islower()):
               count2 = count2 +1
print(" No. of Upper case characters:")
print(count1)
print(" No. of Lower case characters:")
print(count2)

 Enter a string: 'Hi i am Akhila FROM Tirupathi
 No. of Upper case characters:
7
 No. of Lower case characters:
17